#menu-top{
    line-height: 50px;
}

#dynamicbloc{
    background-color: black;
    padding: 20px 10px;
    min-height: 20px;
}

#dynamicbloc>p{
    animation-name: balance;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    text-align: center;
    color: #FFF;
}

span.goarticle{
    font-weight: bold;
    text-align: left;
    opacity: 1; visibility: visible;
    color: rgba(0, 0, 0, 0.2);
    line-height: 100px;
    font-size: 100px;
}

article:hover div > span.goarticle{
    animation-name: rightdisappear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


/*@keyframes arrowleft {
    0%, 20%, 50%, 80%, 100% {
    transform(translateY(0));
  }
    40% {
    @include transform(translateY(-30px));
  }
    60% {
    @include transform(translateY(-15px));
  }
}
*/