body{background: #8a8e9f;}

header{background: #626679;}

header	

div#shortcut{background: #6d7287;}

div#shortcut form{
	background-color:rgba(0, 0, 0, 0.2);
}

img#logo{
	max-height: 242px;
	max-width: 796px;
}