html, body { margin: 0 auto;}
h1, h2, h3, h4, h5, p, ul, li { margin: 0;}
* { box-sizing: border-box; }

/*████╗ ██╗     ██╗     
██╔══██╗██║     ██║     
███████║██║     ██║     
██╔══██║██║     ██║     
██║  ██║███████╗███████╗
╚═╝  ╚═╝╚══════╝╚═════*/
.wr.w0  { width: 0%;   }
.wr.w1  { width: 1%;   }
.wr.w2  { width: 2%;   }
.wr.w3  { width: 3%;   }
.wr.w4  { width: 4%;   }
.wr.w5  { width: 5%;   }
.wr.w6  { width: 6%;   }
.wr.w7  { width: 7%;   }
.wr.w8  { width: 8%;   }
.wr.w9  { width: 9%;   }
.wr.w10 { width: 10%;  }
.wr.w15 { width: 15%;  }
.wr.w20 { width: 20%;  }
.wr.w25 { width: 25%;  }
.wr.w30 { width: 30%;  }
.wr.w35 { width: 35%;  }
.wr.w40 { width: 40%;  }
.wr.w45 { width: 45%;  }
.wr.w50 { width: 50%;  }
.wr.w55 { width: 55%;  }
.wr.w60 { width: 60%;  }
.wr.w65 { width: 65%;  }
.wr.w70 { width: 70%;  }
.wr.w75 { width: 75%;  }
.wr.w80 { width: 80%;  }
.wr.w85 { width: 85%;  }
.wr.w90 { width: 90%;  }
.wr.w95 { width: 95%;  }
.wr.w100{ width: 100%; }
.wr.wa>*:first-child:nth-last-child(1) { width: 100%;            }
.wr.wa>*:first-child:nth-last-child(2) { width: 50%;             }
.wr.wa>*:first-child:nth-last-child(3) { width: calc(100% / 3);  }
.wr.wa>*:first-child:nth-last-child(4) { width: 25%;             }
.wr.wa>*:first-child:nth-last-child(5) { width: 20%;             }
.wr.wa>*:first-child:nth-last-child(6) { width: calc(100% / 6);  }
.wr.wa>*:first-child:nth-last-child(7) { width: calc(100% / 7);  }
.wr.wa>*:first-child:nth-last-child(8) { width: 12.5%;           }
.wr.wa>*:first-child:nth-last-child(9) { width: calc(100% / 9);  }
.wr.wa>*:first-child:nth-last-child(10){ width: 10%;             }
.wr.wa>*:first-child:nth-last-child(11){ width: calc(100% / 11); }
.wr.wa>*:first-child:nth-last-child(12){ width: calc(100% / 12); }
.wr.wa>*:first-child:nth-last-child(13){ width: calc(100% / 13); }
.wr.wa>*:first-child:nth-last-child(14){ width: calc(100% / 14); }
.wr.wa>*:first-child:nth-last-child(15){ width: calc(100% / 15); }
.wr.wa>*:first-child:nth-last-child(16){ width: 6.25%;           }
.wr.wa>*:first-child:nth-last-child(17){ width: calc(100% / 17); }
.wr.wa>*:first-child:nth-last-child(18){ width: calc(100% / 18); }
.wr.wa>*:first-child:nth-last-child(19){ width: calc(100% / 19); }
.wr.wa>*:first-child:nth-last-child(20){ width: 5%;              }

/*╗      █████╗ ██████╗  ██████╗ ███████╗
██║     ██╔══██╗██╔══██╗██╔════╝ ██╔════╝
██║     ███████║██████╔╝██║  ███╗█████╗  
██║     ██╔══██║██╔══██╗██║   ██║██╔══╝  
███████╗██║  ██║██║  ██║╚██████╔╝███████╗
╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═════*/
@media (min-width: 1200px) {  }

/*█╗   ███╗███████╗██████╗ ██╗██╗   ██╗███╗   ███╗
████╗ ████║██╔════╝██╔══██╗██║██║   ██║████╗ ████║
██╔████╔██║█████╗  ██║  ██║██║██║   ██║██╔████╔██║
██║╚██╔╝██║██╔══╝  ██║  ██║██║██║   ██║██║╚██╔╝██║
██║ ╚═╝ ██║███████╗██████╔╝██║╚██████╔╝██║ ╚═╝ █*/
@media (min-width: 992px) {  }

/*█████╗███╗   ███╗ █████╗ ██╗     ██╗     
██╔════╝████╗ ████║██╔══██╗██║     ██║     
███████╗██╔████╔██║███████║██║     ██║     
╚════██║██║╚██╔╝██║██╔══██║██║     ██║     
███████║██║ ╚═╝ ██║██║  ██║███████╗███████╗
╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝╚═════*/
@media (min-width: 768px) {  }

/*╗  ██╗████████╗██████╗  █████╗     ███████╗███╗   ███╗ █████╗ ██╗     ██╗     
╚██╗██╔╝╚══██╔══╝██╔══██╗██╔══██╗    ██╔════╝████╗ ████║██╔══██╗██║     ██║     
 ╚███╔╝    ██║   ██████╔╝███████║    ███████╗██╔████╔██║███████║██║     ██║     
 ██╔██╗    ██║   ██╔══██╗██╔══██║    ╚════██║██║╚██╔╝██║██╔══██║██║     ██║     
██╔╝ ██╗   ██║   ██║  ██║██║  ██║    ███████║██║ ╚═╝ ██║██║  ██║███████╗███████╗
╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝    ╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝╚═════*/
@media (min-width: 576px) {  }