/********************************************************/
/* RESET */
/********************************************************/
body, ul, li{
	margin: 0;
	padding: 0;
}
hr.wr-clr{clear: both; margin: 0; padding: 0; border: none;}
/* END */

/********************************************************/
/* IMAGE */
/********************************************************/
*[class*="wr-image-"]{background-position: left center; background-repeat: no-repeat;}
button[class*="wr-image-"]{background-position: 5px; background-repeat: no-repeat;}
*[class*="wr-image-box"]{background-image: url("img/box.svg");}
*[class*="wr-image-box"]{background-image: url("img/box.svg");}
*[class*="wr-image-gls"]{background-image: url("img/magnifying_glass.svg");}
*[class*="wr-image-hom"]{background-image: url("img/home.svg");}
*[class*="wr-image-lck"]{background-image: url("img/lock_fill.svg");}
*[class*="wr-image-ulc"]{background-image: url("img/unlock_fill.svg");}

.wr-img-center{display: block; margin: 0 auto;}
.wr-img-responsive{width: 100%; height: auto;}

button.wr-form-btnimg{
	background-color: transparent;
	border: none;
}button.wr-form-btnimg:hover{background-color:rgba(0, 0, 0, 0.5);}

.wr-image-box16,
.wr-image-gls16,
.wr-image-hom16,
.wr-image-lck16,
.wr-image-ulc16
{
	background-size: 16px;
	min-width: 16px;
	min-height: 16px;
	padding-left: 16px!important;}

.wr-image-box24,
.wr-image-gls24,
.wr-image-hom24,
.wr-image-lck24,
.wr-image-ulc24
{
	background-size: 24px;
	min-width: 24px;
	min-height: 24px;
	padding-left: 24px!important;}

.wr-image-box32,
.wr-image-gls32,
.wr-image-hom32,
.wr-image-lck32,
.wr-image-ulc32
{
		background-size: 32px;
		min-width: 32px;
		min-height: 32px;
		padding-left: 32px!important;}
/* END */

/********************************************************/
/* BACKGROUND */
/********************************************************/
.wr-list li:hover{background-color:rgba(0, 0, 0, 0.3);}

.wr-roll:hover{background-color:rgba(0, 0, 0, 0.5);
}.wr-roll li.wr-bar{background-color:rgba(0, 0, 0, 0.5);}
/* END */

/********************************************************/
/* CURSOR */
/********************************************************/
.wr-list li{cursor: pointer;}
.wr-roll{cursor: pointer;}
/* END */

/********************************************************/
/* BASIC */
/********************************************************/
.wr-left{float: left!important;}
.wr-right{float: right!important;}
.wr-border-left{border-left: 1px solid rgba(0, 0, 0, 0.1);}
.wr-border-right{border-right: 1px solid rgba(0, 0, 0, 0.2);}
/* END */

/********************************************************/
/* > 1024 */
/********************************************************/
/* MENU */
.wr-menu{
	display: block;
	min-height: 50px;
}
.wr-list{float: left;}
.wr-list li{
	display: inline-block;
	line-height: 50px;
	padding: 0 10px;
}

.wr-roll{display: none;}
/* END */

/* FORM */
.wr-form-inline{
	background-color:rgba(0, 0, 0, 0.2);
	display: block;
	padding: 5px 5px;
}

.wr-form-inline input[type="text"]{
	border: none;
	height: 20px;
}
.wr-form-inline button{cursor: pointer;}
/* END */

/********************************************************/
/* < 1024 */
/********************************************************/
@media all and (max-width: 1024px){
	/********************************************************/
	/* IMAGE */
	/********************************************************/
	/* END */

	/********************************************************/
	/* TEXT */
	/********************************************************/
	/* END */

	/********************************************************/
	/* BACKGROUND */
	/********************************************************/
	/* END */

	/********************************************************/
	/* CURSOR */
	/********************************************************/
	/* END */

	/********************************************************/
	/* SHORTCUTS */
	/********************************************************/
	.wr-left{float: none!important;clear: both;}
	.wr-right{float: none!important;clear: both;}

	.wr-m-hide{display: none;}
	.wr-m-show{display: block;}
	/* END */

	/********************************************************/
	/* BASIC */
	/********************************************************/
	ul{
		width: 100%;
	}
	/* END */

	/* MENU */
	.wr-menu{min-height: 50px;}

	.wr-list{
		float: none;
	}.wr-list li{
		display: block;
		line-height: 50px;
		padding: 0 10px;
	}

	.wr-roll{
		background-color:rgba(0, 0, 0, 0.3);
		padding: 10px 0 16px;
		margin: 0;
		display: block;
		width: 100%;
	}.wr-roll li.wr-bar{
		display: block;
		height: 3px;
		margin: 5px 15px 0 auto;
		width: 50px;
	}
	/* END */

	/* FORM */
	.wr-form-inline input[type="text"]{
		width: 50%;
	}
	/* END */
}