/* Alignement */
nav{					display: block;			}
nav.wr-container-inline nav, nav.wr-container-inline nav *{	display: inline-block;	}

/* De 1 à 10 objets */
nav.wr-container-inline nav:first-of-type:nth-last-child(1),		nav.wr-container-inline nav:first-of-type:nth-last-child(1) ~ nav	{	width: 100%;	}
nav.wr-container-inline nav:first-of-type:nth-last-child(2),		nav.wr-container-inline nav:first-of-type:nth-last-child(2) ~ nav	{	width: 50%;		}
nav.wr-container-inline nav:first-of-type:nth-last-child(3),		nav.wr-container-inline nav:first-of-type:nth-last-child(3) ~ nav	{	width: 33.33%;	}
nav.wr-container-inline nav:first-of-type:nth-last-child(4),		nav.wr-container-inline nav:first-of-type:nth-last-child(4) ~ nav	{	width: 25%;		}
nav.wr-container-inline nav:first-of-type:nth-last-child(5),		nav.wr-container-inline nav:first-of-type:nth-last-child(5) ~ nav	{	width: 20%;		}
nav.wr-container-inline nav:first-of-type:nth-last-child(6),		nav.wr-container-inline nav:first-of-type:nth-last-child(6) ~ nav	{	width: 16.66%;	}
nav.wr-container-inline nav:first-of-type:nth-last-child(7),		nav.wr-container-inline nav:first-of-type:nth-last-child(7) ~ nav	{	width: 14.28%;	}
nav.wr-container-inline nav:first-of-type:nth-last-child(8),		nav.wr-container-inline nav:first-of-type:nth-last-child(8) ~ nav	{	width: 12.5%;	}
nav.wr-container-inline nav:first-of-type:nth-last-child(9),		nav.wr-container-inline nav:first-of-type:nth-last-child(9) ~ nav	{	width: 11.11%;	}
nav.wr-container-inline nav:first-of-type:nth-last-child(10),		nav.wr-container-inline nav:first-of-type:nth-last-child(10) ~ nav	{	width: 10%;	}

/* De 1 à 10 objets */
nav.wr-menu *:first-child:nth-last-child(1),	nav.wr-menu *:first-child:nth-last-child(1) ~ *		{	width: 100%;	}
nav.wr-menu *:first-child:nth-last-child(2),	nav.wr-menu *:first-child:nth-last-child(2) ~ *		{	width: 50%;		}
nav.wr-menu *:first-child:nth-last-child(3),	nav.wr-menu *:first-child:nth-last-child(3) ~ *		{	width: 33.33%;	}
nav.wr-menu *:first-child:nth-last-child(4),	nav.wr-menu *:first-child:nth-last-child(4) ~ *		{	width: 25%;		}
nav.wr-menu *:first-child:nth-last-child(5),	nav.wr-menu *:first-child:nth-last-child(5) ~ *		{	width: 20%;		}
nav.wr-menu *:first-child:nth-last-child(6),	nav.wr-menu *:first-child:nth-last-child(6) ~ *		{	width: 16.66%;	}
nav.wr-menu *:first-child:nth-last-child(7),	nav.wr-menu *:first-child:nth-last-child(7) ~ *		{	width: 14.28%;	}
nav.wr-menu *:first-child:nth-last-child(8),	nav.wr-menu *:first-child:nth-last-child(8) ~ *		{	width: 12.5%;	}
nav.wr-menu *:first-child:nth-last-child(9),	nav.wr-menu *:first-child:nth-last-child(9) ~ *		{	width: 11.11%;	}
nav.wr-menu *:first-child:nth-last-child(10),	nav.wr-menu *:first-child:nth-last-child(10) ~ *	{	width: 10%;		}