*,*::-moz-focus-inner{
    background: transparent;
    border:     0;
    display:    block;
    margin:     0;
    outline:    0;
    padding:    0;
    text-decoration: none;
    box-sizing: border-box;
}

title       {   display: none;                  }
html,body   {   margin: 0 auto;width: 100%;     }
table       {   display: table;                 }
caption     {   display: table-caption;         }
colgroup    {   display: table-column-group;    }
thead       {   display: table-header-group;    }
tfoot       {   display: table-footer-group;    }
tbody       {   display: table-row-group;       }
col         {   display: table-column;          }
tr          {   display: table-row;             }
td          {   display: table-cell;            }
time        {   display: initial;               }

*[class^='wr-bg']   {   background-position: center center; background-repeat: no-repeat;   }
span[class^='wr-bg']{   display: inline-block;  vertical-align: middle;                     }

*.wr-button-roll            {   height: 100%;width: 100%;   cursor: pointer;    }
*.wr-button-roll:hover~*    {   display: block;                                 }
*.wr-streak                 {   display: inline-block;                          }
*.wr-streak>*               {   display: block;margin: 0 auto;width: 85%;       }
*.wr-streak>div:first-of-type:nth-last-child(1),*.wr-streak>div:first-of-type:nth-last-child(1) ~ div {   height: 100%;              }
*.wr-streak>div:first-of-type:nth-last-child(3),*.wr-streak>div:first-of-type:nth-last-child(3) ~ div {   height: calc(100% / 3);    }
*.wr-streak>div:first-of-type:nth-last-child(5),*.wr-streak>div:first-of-type:nth-last-child(5) ~ div {   height: 20%;               }
*.wr-streak>div:first-of-type:nth-last-child(7),*.wr-streak>div:first-of-type:nth-last-child(7) ~ div {   height: calc(100% / 7);    }
*.wr-streak>div:first-of-type:nth-last-child(9),*.wr-streak>div:first-of-type:nth-last-child(9) ~ div {   height: calc(100% / 9);    }

*.wr-inline>*   { display: inline-block;vertical-align: top;    }
*.wr-inline>*:first-child:nth-last-child(1),    *.wr-inline>*:first-child:nth-last-child(1) ~ * {   width: 100%;              }
*.wr-inline>*:first-child:nth-last-child(2),    *.wr-inline>*:first-child:nth-last-child(2) ~ * {   width: 50%;               }
*.wr-inline>*:first-child:nth-last-child(3),    *.wr-inline>*:first-child:nth-last-child(3) ~ * {   width: calc(100% / 3);    }
*.wr-inline>*:first-child:nth-last-child(4),    *.wr-inline>*:first-child:nth-last-child(4) ~ * {   width: 25%;               }
*.wr-inline>*:first-child:nth-last-child(5),    *.wr-inline>*:first-child:nth-last-child(5) ~ * {   width: 20%;               }
*.wr-inline>*:first-child:nth-last-child(6),    *.wr-inline>*:first-child:nth-last-child(6) ~ * {   width: calc(100% / 6);    }
*.wr-inline>*:first-child:nth-last-child(7),    *.wr-inline>*:first-child:nth-last-child(7) ~ * {   width: calc(100% / 7);    }
*.wr-inline>*:first-child:nth-last-child(8),    *.wr-inline>*:first-child:nth-last-child(8) ~ * {   width: 12.5%;             }
*.wr-inline>*:first-child:nth-last-child(9),    *.wr-inline>*:first-child:nth-last-child(9) ~ * {   width: calc(100% / 9);    }
*.wr-inline>*:first-child:nth-last-child(10),   *.wr-inline>*:first-child:nth-last-child(10)~ * {   width: 10%;               }

*.wr-fill>*            {   display: inline-block;vertical-align: top;  }
*.wr-fill>.wr-width100 {   width: 100%;  }
*.wr-fill>.wr-width95  {   width: 95%;   }
*.wr-fill>.wr-width90  {   width: 90%;   }
*.wr-fill>.wr-width80  {   width: 80%;   }
*.wr-fill>.wr-width70  {   width: 70%;   }
*.wr-fill>.wr-width60  {   width: 60%;   }
*.wr-fill>.wr-width50  {   width: 50%;   }
*.wr-fill>.wr-width40  {   width: 40%;   }
*.wr-fill>.wr-width35  {   width: 35%;   }
*.wr-fill>.wr-width34  {   width: 34%;   }
*.wr-fill>.wr-width33  {   width: 33%;   }
*.wr-fill>.wr-width32  {   width: 32%;   }
*.wr-fill>.wr-width31  {   width: 31%;   }
*.wr-fill>.wr-width30  {   width: 30%;   }
*.wr-fill>.wr-width29  {   width: 29%;   }
*.wr-fill>.wr-width28  {   width: 28%;   }
*.wr-fill>.wr-width27  {   width: 27%;   }
*.wr-fill>.wr-width26  {   width: 26%;   }
*.wr-fill>.wr-width25  {   width: 25%;   }
*.wr-fill>.wr-width24  {   width: 24%;   }
*.wr-fill>.wr-width23  {   width: 23%;   }
*.wr-fill>.wr-width22  {   width: 22%;   }
*.wr-fill>.wr-width21  {   width: 21%;   }
*.wr-fill>.wr-width20  {   width: 20%;   }
*.wr-fill>.wr-width19  {   width: 19%;   }
*.wr-fill>.wr-width18  {   width: 18%;   }
*.wr-fill>.wr-width17  {   width: 17%;   }
*.wr-fill>.wr-width16  {   width: 16%;   }
*.wr-fill>.wr-width15  {   width: 15%;   }
*.wr-fill>.wr-width14  {   width: 14%;   }
*.wr-fill>.wr-width14  {   width: 13%;   }
*.wr-fill>.wr-width12  {   width: 12%;   }
*.wr-fill>.wr-width11  {   width: 11%;   }
*.wr-fill>.wr-width10  {   width: 10%;   }
*.wr-fill>.wr-width9   {   width: 9%;    }
*.wr-fill>.wr-width8   {   width: 8%;    }
*.wr-fill>.wr-width7   {   width: 7%;    }
*.wr-fill>.wr-width6   {   width: 6%;    }
*.wr-fill>.wr-width5   {   width: 5%;    }
*.wr-fill>.wr-width4   {   width: 4%;    }
*.wr-fill>.wr-width3   {   width: 3%;    }
*.wr-fill>.wr-width2   {   width: 2%;    }
*.wr-fill>.wr-width1   {   width: 1%;    }

/* Large Screen */
@media (min-width: 992px)
{
    *.wr-only-large         {   display: block;  }
    span.wr-bg-large        {   display: block;  }
    *.wr-only-medium        {   display: none;   }
    span.wr-bg-medium       {   display: none;   }
    *.wr-only-small         {   display: none;   }
    span.wr-bg-small        {   display: none;   }
    *.wr-only-lg-md         {   display: block;  }
    span.wr-bg-lg-md        {   display: block;  }
     *.wr-only-md-sm        {   display: none;   }
    span.wr-bg-md-sm        {   display: none;   }
    *.wr-only-lg-sm         {   display: block;  }
    span.wr-bg-lg-sm        {   display: block;  }
    *.wr-discover-large     {   display: none;   }
    *.wr-discover-lg-md     {   display: none;   }
    *.wr-discover-lg-sm     {   display: none;   }

    *.wr-inline-large>*   { display: inline-block;vertical-align: top;    }
    *.wr-inline-large>*:first-child:nth-last-child(1),    *.wr-inline-large>*:first-child:nth-last-child(1) ~ * {   width: 100%;              }
    *.wr-inline-large>*:first-child:nth-last-child(2),    *.wr-inline-large>*:first-child:nth-last-child(2) ~ * {   width: 50%;               }
    *.wr-inline-large>*:first-child:nth-last-child(3),    *.wr-inline-large>*:first-child:nth-last-child(3) ~ * {   width: calc(100% / 3);    }
    *.wr-inline-large>*:first-child:nth-last-child(4),    *.wr-inline-large>*:first-child:nth-last-child(4) ~ * {   width: 25%;               }
    *.wr-inline-large>*:first-child:nth-last-child(5),    *.wr-inline-large>*:first-child:nth-last-child(5) ~ * {   width: 20%;               }
    *.wr-inline-large>*:first-child:nth-last-child(6),    *.wr-inline-large>*:first-child:nth-last-child(6) ~ * {   width: calc(100% / 6);    }
    *.wr-inline-large>*:first-child:nth-last-child(7),    *.wr-inline-large>*:first-child:nth-last-child(7) ~ * {   width: calc(100% / 7);    }
    *.wr-inline-large>*:first-child:nth-last-child(8),    *.wr-inline-large>*:first-child:nth-last-child(8) ~ * {   width: 12.5%;             }
    *.wr-inline-large>*:first-child:nth-last-child(9),    *.wr-inline-large>*:first-child:nth-last-child(9) ~ * {   width: calc(100% / 9);    }
    *.wr-inline-large>*:first-child:nth-last-child(10),   *.wr-inline-large>*:first-child:nth-last-child(10)~ * {   width: 10%;               }

    *.wr-fill-large>*            {   display: inline-block;vertical-align: top;  }
    *.wr-fill-large>.wr-width100 {   width: 100%;  }
    *.wr-fill-large>.wr-width95  {   width: 95%;   }
    *.wr-fill-large>.wr-width90  {   width: 90%;   }
    *.wr-fill-large>.wr-width80  {   width: 80%;   }
    *.wr-fill-large>.wr-width70  {   width: 70%;   }
    *.wr-fill-large>.wr-width60  {   width: 60%;   }
    *.wr-fill-large>.wr-width50  {   width: 50%;   }
    *.wr-fill-large>.wr-width40  {   width: 40%;   }
    *.wr-fill-large>.wr-width35  {   width: 35%;   }
    *.wr-fill-large>.wr-width34  {   width: 34%;   }
    *.wr-fill-large>.wr-width33  {   width: 33%;   }
    *.wr-fill-large>.wr-width32  {   width: 32%;   }
    *.wr-fill-large>.wr-width31  {   width: 31%;   }
    *.wr-fill-large>.wr-width30  {   width: 30%;   }
    *.wr-fill-large>.wr-width29  {   width: 29%;   }
    *.wr-fill-large>.wr-width28  {   width: 28%;   }
    *.wr-fill-large>.wr-width27  {   width: 27%;   }
    *.wr-fill-large>.wr-width26  {   width: 26%;   }
    *.wr-fill-large>.wr-width25  {   width: 25%;   }
    *.wr-fill-large>.wr-width24  {   width: 24%;   }
    *.wr-fill-large>.wr-width23  {   width: 23%;   }
    *.wr-fill-large>.wr-width22  {   width: 22%;   }
    *.wr-fill-large>.wr-width21  {   width: 21%;   }
    *.wr-fill-large>.wr-width20  {   width: 20%;   }
    *.wr-fill-large>.wr-width19  {   width: 19%;   }
    *.wr-fill-large>.wr-width18  {   width: 18%;   }
    *.wr-fill-large>.wr-width17  {   width: 17%;   }
    *.wr-fill-large>.wr-width16  {   width: 16%;   }
    *.wr-fill-large>.wr-width15  {   width: 15%;   }
    *.wr-fill-large>.wr-width14  {   width: 14%;   }
    *.wr-fill-large>.wr-width14  {   width: 13%;   }
    *.wr-fill-large>.wr-width12  {   width: 12%;   }
    *.wr-fill-large>.wr-width11  {   width: 11%;   }
    *.wr-fill-large>.wr-width10  {   width: 10%;   }
    *.wr-fill-large>.wr-width9   {   width: 9%;    }
    *.wr-fill-large>.wr-width8   {   width: 8%;    }
    *.wr-fill-large>.wr-width7   {   width: 7%;    }
    *.wr-fill-large>.wr-width6   {   width: 6%;    }
    *.wr-fill-large>.wr-width5   {   width: 5%;    }
    *.wr-fill-large>.wr-width4   {   width: 4%;    }
    *.wr-fill-large>.wr-width3   {   width: 3%;    }
    *.wr-fill-large>.wr-width2   {   width: 2%;    }
    *.wr-fill-large>.wr-width1   {   width: 1%;    }
    
    *.wr-txt-center-large   {   text-align: center; }
    *.wr-txt-left-large     {   text-align: left;   }
    *.wr-txt-right-large    {   text-align: right;  }
    *.wr-blk-center-large   {   margin: 0 auto;     }

    *.wr-valign-middle-large      {   vertical-align: middle;  }
    *.wr-subvalign-middle-large>* {   vertical-align: middle;  }
    *.wr-display-none-large       {   display: none;           }
    *.wr-display-none-large:hover {   display: block;          }
}

/* Medium Screen */
@media (min-width: 768px) and (max-width: 992px)
{
    *.wr-only-large         {   display: none;   }
    span.wr-bg-large        {   display: none;   }
    *.wr-only-medium        {   display: block;  }
    span.wr-bg-medium       {   display: block;  }
    *.wr-only-small         {   display: none;   }
    span.wr-bg-small        {   display: none;   }
    *.wr-only-lg-md         {   display: block;  }
    span.wr-bg-lg-md        {   display: block;  }
    *.wr-only-md-sm         {   display: block;  }
    span.wr-bg-md-sm        {   display: block;  }
    *.wr-only-lg-sm         {   display: none;   }
    span.wr-bg-lg-sm        {   display: none;   }
    *.wr-discover-medium    {   display: none;   }
    *.wr-discover-lg-md     {   display: none;   }
    *.wr-discover-md-sm     {   display: none;   }

    *.wr-inline-medium>*    { display: inline-block;vertical-align: top;    }
    *.wr-inline-medium>*:first-child:nth-last-child(1),    *.wr-inline-medium>*:first-child:nth-last-child(1) ~ * {   width: 100%;              }
    *.wr-inline-medium>*:first-child:nth-last-child(2),    *.wr-inline-medium>*:first-child:nth-last-child(2) ~ * {   width: 50%;               }
    *.wr-inline-medium>*:first-child:nth-last-child(3),    *.wr-inline-medium>*:first-child:nth-last-child(3) ~ * {   width: calc(100% / 3);    }
    *.wr-inline-medium>*:first-child:nth-last-child(4),    *.wr-inline-medium>*:first-child:nth-last-child(4) ~ * {   width: 25%;               }
    *.wr-inline-medium>*:first-child:nth-last-child(5),    *.wr-inline-medium>*:first-child:nth-last-child(5) ~ * {   width: 20%;               }
    *.wr-inline-medium>*:first-child:nth-last-child(6),    *.wr-inline-medium>*:first-child:nth-last-child(6) ~ * {   width: calc(100% / 6);    }
    *.wr-inline-medium>*:first-child:nth-last-child(7),    *.wr-inline-medium>*:first-child:nth-last-child(7) ~ * {   width: calc(100% / 7);    }
    *.wr-inline-medium>*:first-child:nth-last-child(8),    *.wr-inline-medium>*:first-child:nth-last-child(8) ~ * {   width: 12.5%;             }
    *.wr-inline-medium>*:first-child:nth-last-child(9),    *.wr-inline-medium>*:first-child:nth-last-child(9) ~ * {   width: calc(100% / 9);    }
    *.wr-inline-medium>*:first-child:nth-last-child(10),   *.wr-inline-medium>*:first-child:nth-last-child(10)~ * {   width: 10%;               }

    *.wr-fill-medium>*            {   display: inline-block;vertical-align: top;  }
    *.wr-fill-medium>.wr-width100 {   width: 100%;  }
    *.wr-fill-medium>.wr-width95  {   width: 95%;   }
    *.wr-fill-medium>.wr-width90  {   width: 90%;   }
    *.wr-fill-medium>.wr-width80  {   width: 80%;   }
    *.wr-fill-medium>.wr-width70  {   width: 70%;   }
    *.wr-fill-medium>.wr-width60  {   width: 60%;   }
    *.wr-fill-medium>.wr-width50  {   width: 50%;   }
    *.wr-fill-medium>.wr-width40  {   width: 40%;   }
    *.wr-fill-medium>.wr-width35  {   width: 35%;   }
    *.wr-fill-medium>.wr-width34  {   width: 34%;   }
    *.wr-fill-medium>.wr-width33  {   width: 33%;   }
    *.wr-fill-medium>.wr-width32  {   width: 32%;   }
    *.wr-fill-medium>.wr-width31  {   width: 31%;   }
    *.wr-fill-medium>.wr-width30  {   width: 30%;   }
    *.wr-fill-medium>.wr-width29  {   width: 29%;   }
    *.wr-fill-medium>.wr-width28  {   width: 28%;   }
    *.wr-fill-medium>.wr-width27  {   width: 27%;   }
    *.wr-fill-medium>.wr-width26  {   width: 26%;   }
    *.wr-fill-medium>.wr-width25  {   width: 25%;   }
    *.wr-fill-medium>.wr-width24  {   width: 24%;   }
    *.wr-fill-medium>.wr-width23  {   width: 23%;   }
    *.wr-fill-medium>.wr-width22  {   width: 22%;   }
    *.wr-fill-medium>.wr-width21  {   width: 21%;   }
    *.wr-fill-medium>.wr-width20  {   width: 20%;   }
    *.wr-fill-medium>.wr-width19  {   width: 19%;   }
    *.wr-fill-medium>.wr-width18  {   width: 18%;   }
    *.wr-fill-medium>.wr-width17  {   width: 17%;   }
    *.wr-fill-medium>.wr-width16  {   width: 16%;   }
    *.wr-fill-medium>.wr-width15  {   width: 15%;   }
    *.wr-fill-medium>.wr-width14  {   width: 14%;   }
    *.wr-fill-medium>.wr-width14  {   width: 13%;   }
    *.wr-fill-medium>.wr-width12  {   width: 12%;   }
    *.wr-fill-medium>.wr-width11  {   width: 11%;   }
    *.wr-fill-medium>.wr-width10  {   width: 10%;   }
    *.wr-fill-medium>.wr-width9   {   width: 9%;    }
    *.wr-fill-medium>.wr-width8   {   width: 8%;    }
    *.wr-fill-medium>.wr-width7   {   width: 7%;    }
    *.wr-fill-medium>.wr-width6   {   width: 6%;    }
    *.wr-fill-medium>.wr-width5   {   width: 5%;    }
    *.wr-fill-medium>.wr-width4   {   width: 4%;    }
    *.wr-fill-medium>.wr-width3   {   width: 3%;    }
    *.wr-fill-medium>.wr-width2   {   width: 2%;    }
    *.wr-fill-medium>.wr-width1   {   width: 1%;    }

    *.wr-txt-center-medium   {   text-align: center; }
    *.wr-txt-left-medium     {   text-align: left;   }
    *.wr-txt-right-medium    {   text-align: right;  }
    *.wr-blk-center-medium   {   margin: 0 auto;     }

    *.wr-valign-middle-medium      {   vertical-align: middle;  }
    *.wr-subvalign-middle-medium>* {   vertical-align: middle;  }
    *.wr-display-none-medium       {   display: none;           }
    *.wr-display-none-medium:hover {   display: block;          }
}

/* Small Screen */
@media (max-width: 768px)
{
    *.wr-only-large         {   display: none;  }
    span.wr-bg-large        {   display: none;  }
    *.wr-only-medium        {   display: none;  }
    span.wr-bg-medium       {   display: none;  }
    *.wr-only-small         {   display: block; }
    span.wr-bg-small        {   display: block; }
    *.wr-only-lg-md         {   display: none;  }
    span.wr-bg-lg-md        {   display: none;  }
    *.wr-only-md-sm         {   display: block; }
    span.wr-bg-md-sm        {   display: block; }
    *.wr-only-lg-sm         {   display: block; }
    span.wr-bg-lg-sm        {   display: block; }
    *.wr-discover-small     {   display: none;  }
    *.wr-discover-md-sm     {   display: none;  }
    *.wr-discover-lg-sm     {   display: none;  }

    *.wr-inline-small>*     { display: inline-block;vertical-align: top;    }
    *.wr-inline-small>*:first-child:nth-last-child(1),    *.wr-inline-small>*:first-child:nth-last-child(1) ~ * {   width: 100%;              }
    *.wr-inline-small>*:first-child:nth-last-child(2),    *.wr-inline-small>*:first-child:nth-last-child(2) ~ * {   width: 50%;               }
    *.wr-inline-small>*:first-child:nth-last-child(3),    *.wr-inline-small>*:first-child:nth-last-child(3) ~ * {   width: calc(100% / 3);    }
    *.wr-inline-small>*:first-child:nth-last-child(4),    *.wr-inline-small>*:first-child:nth-last-child(4) ~ * {   width: 25%;               }
    *.wr-inline-small>*:first-child:nth-last-child(5),    *.wr-inline-small>*:first-child:nth-last-child(5) ~ * {   width: 20%;               }
    *.wr-inline-small>*:first-child:nth-last-child(6),    *.wr-inline-small>*:first-child:nth-last-child(6) ~ * {   width: calc(100% / 6);    }
    *.wr-inline-small>*:first-child:nth-last-child(7),    *.wr-inline-small>*:first-child:nth-last-child(7) ~ * {   width: calc(100% / 7);    }
    *.wr-inline-small>*:first-child:nth-last-child(8),    *.wr-inline-small>*:first-child:nth-last-child(8) ~ * {   width: 12.5%;             }
    *.wr-inline-small>*:first-child:nth-last-child(9),    *.wr-inline-small>*:first-child:nth-last-child(9) ~ * {   width: calc(100% / 9);    }
    *.wr-inline-small>*:first-child:nth-last-child(10),   *.wr-inline-small>*:first-child:nth-last-child(10)~ * {   width: 10%;               }

    *.wr-fill-small>.wr-width100 {   width: 100%;  }
    *.wr-fill-small>.wr-width95  {   width: 95%;   }
    *.wr-fill-small>.wr-width90  {   width: 90%;   }
    *.wr-fill-small>.wr-width80  {   width: 80%;   }
    *.wr-fill-small>.wr-width70  {   width: 70%;   }
    *.wr-fill-small>.wr-width60  {   width: 60%;   }
    *.wr-fill-small>.wr-width50  {   width: 50%;   }
    *.wr-fill-small>.wr-width40  {   width: 40%;   }
    *.wr-fill-small>.wr-width35  {   width: 35%;   }
    *.wr-fill-small>.wr-width34  {   width: 34%;   }
    *.wr-fill-small>.wr-width33  {   width: 33%;   }
    *.wr-fill-small>.wr-width32  {   width: 32%;   }
    *.wr-fill-small>.wr-width31  {   width: 31%;   }
    *.wr-fill-small>.wr-width30  {   width: 30%;   }
    *.wr-fill-small>.wr-width29  {   width: 29%;   }
    *.wr-fill-small>.wr-width28  {   width: 28%;   }
    *.wr-fill-small>.wr-width27  {   width: 27%;   }
    *.wr-fill-small>.wr-width26  {   width: 26%;   }
    *.wr-fill-small>.wr-width25  {   width: 25%;   }
    *.wr-fill-small>.wr-width24  {   width: 24%;   }
    *.wr-fill-small>.wr-width23  {   width: 23%;   }
    *.wr-fill-small>.wr-width22  {   width: 22%;   }
    *.wr-fill-small>.wr-width21  {   width: 21%;   }
    *.wr-fill-small>.wr-width20  {   width: 20%;   }
    *.wr-fill-small>.wr-width19  {   width: 19%;   }
    *.wr-fill-small>.wr-width18  {   width: 18%;   }
    *.wr-fill-small>.wr-width17  {   width: 17%;   }
    *.wr-fill-small>.wr-width16  {   width: 16%;   }
    *.wr-fill-small>.wr-width15  {   width: 15%;   }
    *.wr-fill-small>.wr-width14  {   width: 14%;   }
    *.wr-fill-small>.wr-width14  {   width: 13%;   }
    *.wr-fill-small>.wr-width12  {   width: 12%;   }
    *.wr-fill-small>.wr-width11  {   width: 11%;   }
    *.wr-fill-small>.wr-width10  {   width: 10%;   }
    *.wr-fill-small>.wr-width9   {   width: 9%;    }
    *.wr-fill-small>.wr-width8   {   width: 8%;    }
    *.wr-fill-small>.wr-width7   {   width: 7%;    }
    *.wr-fill-small>.wr-width6   {   width: 6%;    }
    *.wr-fill-small>.wr-width5   {   width: 5%;    }
    *.wr-fill-small>.wr-width4   {   width: 4%;    }
    *.wr-fill-small>.wr-width3   {   width: 3%;    }
    *.wr-fill-small>.wr-width2   {   width: 2%;    }
    *.wr-fill-small>.wr-width1   {   width: 1%;    }

    *.wr-txt-center-small   {   text-align: center; }
    *.wr-txt-left-small     {   text-align: left;   }
    *.wr-txt-right-small    {   text-align: right;  }
    *.wr-blk-center-small   {   margin: 0 auto;     }

    *.wr-valign-middle-small      {   vertical-align: middle;  }
    *.wr-subvalign-middle-small>* {   vertical-align: middle;  }
    *.wr-display-none-small       {   display: none;           }
    *.wr-display-none-small:hover {   display: block;          }
}
*.wr-discover-large:hover   {   display: block; }
*.wr-discover-medium:hover  {   display: block; }
*.wr-discover-small:hover   {   display: block; }
*.wr-discover-lg-md:hover   {   display: block; }
*.wr-discover-md-sm:hover   {   display: block; }
*.wr-discover-lg-sm:hover   {   display: block; }

*.wr-valign-middle      {   vertical-align: middle;  }
*.wr-subvalign-middle>* {   vertical-align: middle;  }
*.wr-display-none       {   display: none;           }
*.wr-display-none:hover {   display: block;          }

*.wr-txt-center     {   text-align: center; }
*.wr-txt-left       {   text-align: left;   }
*.wr-txt-right      {   text-align: right;  }
*.wr-blk-center     {   margin: 0 auto;     }

*.wr-break1    {   margin: 0.5px 0;    }
*.wr-break2    {   margin: 1px 0;      }
*.wr-break3    {   margin: 1.5px 0;    }
*.wr-break4    {   margin: 2px 0;      }
*.wr-break5    {   margin: 2.5px 0;    }
*.wr-break10   {   margin: 5px 0;      }
*.wr-break15   {   margin: 7.5px 0;    }
*.wr-break20   {   margin: 10px 0;     }

form.wr-form legend                 {   margin-left: 15px; }
form.wr-form input                  {   font-size: 14px;    line-height: 22px;  width: 100%;    }
form.wr-form input[type="text"]     {   margin-bottom: 7px; padding: 4px 0; }
form.wr-form input[type="password"] {   margin-bottom: 7px; padding: 4px 0; }
form.wr-form input[type="submit"]   {   cursor: pointer;    padding: 4px 0; }

/* Background Whitness */
body.whitness *                                       { color: black;                           }
body.whitness a:hover                                 { background-color: rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-streak>*:nth-child(even)           { background-color: rgba(0, 0, 0, 0.2);   }
body.whitness *.wr-a-active                           { background-color: rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-bgcol-transparent                  { background-color: rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-bgcol-transparent2                 { background-color: rgba(0, 0, 0, 0.2);   }
body.whitness *.wr-bgcol-transparent3                 { background-color: rgba(0, 0, 0, 0.3);   }
body.whitness *.wr-bgcol-transparent4                 { background-color: rgba(0, 0, 0, 0.4);   }
body.whitness *.wr-bgcol-transparent5                 { background-color: rgba(0, 0, 0, 0.5);   }
body.whitness *.wr-border-top                         { border-top: 1px solid rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-border-top2                        { border-top: 2px solid rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-border-top3                        { border-top: 3px solid rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-border-top4                        { border-top: 4px solid rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-border-top5                        { border-top: 5px solid rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-border-bot                         { border-bottom: 1px solid rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-border-bot2                        { border-bottom: 2px solid rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-border-bot3                        { border-bottom: 3px solid rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-border-bot4                        { border-bottom: 4px solid rgba(0, 0, 0, 0.1);   }
body.whitness *.wr-border-bot5                        { border-bottom: 5px solid rgba(0, 0, 0, 0.1);   }
body.whitness form.wr-form legend                     { background-color: rgba(0, 0, 0, 0);       }
body.whitness form.wr-form fieldset                   { background-color: rgba(0, 0, 0, 0.1);     }
body.whitness form.wr-form fieldset:hover>legend      { background-color: rgba(0, 0, 0, 0.1);     }
body.whitness form.wr-form input                      { background-color: rgba(255, 255, 255, 1); }
body.whitness form.wr-form input[type="text"]         { border-left: 3px solid rgba(0, 0, 0, 0.1);  border-right: 3px solid rgba(0, 0, 0, 0.1);}
body.whitness form.wr-form input[type="password"]     { border-left: 3px solid rgba(0, 0, 0, 0.1);  border-right: 3px solid rgba(0, 0, 0, 0.1);}
body.whitness form.wr-form input[type="submit"]       { background-color: rgba(0, 0, 0, 0.1);   }
body.whitness form.wr-form input[type="submit"]:hover { background-color: rgba(0, 0, 0, 0.2);   }
/* Background Darkness */
body.darkness *                                       { color: white;                                 }
body.darkness a:hover                                 { background-color: rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-button-roll>*:nth-child(even)      { background-color: rgba(255, 255, 255, 0.2);   }
body.darkness *.wr-a-active                           { background-color: rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-bgcol-transparent                  { background-color: rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-bgcol-transparent2                 { background-color: rgba(255, 255, 255, 0.2);   }
body.darkness *.wr-bgcol-transparent3                 { background-color: rgba(255, 255, 255, 0.3);   }
body.darkness *.wr-bgcol-transparent4                 { background-color: rgba(255, 255, 255, 0.4);   }
body.darkness *.wr-bgcol-transparent5                 { background-color: rgba(255, 255, 255, 0.5);   }
body.darkness *.wr-border-top                         { border-top: 1px solid rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-border-top2                        { border-top: 2px solid rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-border-top3                        { border-top: 3px solid rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-border-top4                        { border-top: 4px solid rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-border-top5                        { border-top: 5px solid rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-border-bot                         { border-bottom: 1px solid rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-border-bot2                        { border-bottom: 2px solid rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-border-bot3                        { border-bottom: 3px solid rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-border-bot4                        { border-bottom: 4px solid rgba(255, 255, 255, 0.1);   }
body.darkness *.wr-border-bot5                        { border-bottom: 5px solid rgba(255, 255, 255, 0.1);   }
body.darkness form.wr-form legend                     { background-color: rgba(255, 255, 255, 0);     }
body.darkness form.wr-form fieldset                   { background-color: rgba(255, 255, 255, 0.1);   }
body.darkness form.wr-form fieldset:hover>legend      { background-color: rgba(255, 255, 255, 0.1);   }
body.darkness form.wr-form input                      { background-color: rgba(0, 0, 0, 1);           }
body.darkness form.wr-form input[type="text"]         { border-left: 3px solid rgba(255, 255, 255, 0.1);  border-right: 3px solid rgba(255, 255, 255, 0.1);}
body.darkness form.wr-form input[type="password"]     { border-left: 3px solid rgba(255, 255, 255, 0.1);  border-right: 3px solid rgba(255, 255, 255, 0.1);}
body.darkness form.wr-form input[type="submit"]       { background-color: rgba(255, 255, 255, 0.1);}
body.darkness form.wr-form input[type="submit"]:hover { background-color: rgba(255, 255, 255, 0.2); }

body.whitness { background-color: white; }
body.darkness { background-color: black; }

*.wr-bg-leftcenter      {   background-position: left center;                   }
*.wr-bg-left1center     {   background-position: 1px center;                    }
*.wr-bg-left2center     {   background-position: 2px center;                    }
*.wr-bg-left3center     {   background-position: 3px center;                    }
*.wr-bg-left4center     {   background-position: 4px center;                    }
*.wr-bg-left5center     {   background-position: 5px center;                    }
span.wr-bg-leftcenter   {   background-position: center center; padding: 0 0;   }
span.wr-bg-left1center  {   background-position: center center; padding: 0 1px; }
span.wr-bg-left2center  {   background-position: center center; padding: 0 2px; }
span.wr-bg-left3center  {   background-position: center center; padding: 0 3px; }
span.wr-bg-left4center  {   background-position: center center; padding: 0 4px; }
span.wr-bg-left5center  {   background-position: center center; padding: 0 5px; }

*.wr-bg24       {   background-size: 24px;      }
*.wr-bg32       {   background-size: 32px;      }
*.wr-bg48       {   background-size: 48px;      }
span.wr-bg24    {   height: 24px;width: 24px;   }
span.wr-bg32    {   height: 32px;width: 32px;   }
span.wr-bg48    {   height: 48px;width: 48px;   }

/* mimideepcolour */
*.wr-bg24.wr-bg-mdc-home        {   background-image: url("img/mimideepcolour/024x024/home.png");       }
*.wr-bg24.wr-bg-mdc-flag        {   background-image: url("img/mimideepcolour/024x024/flag.png");       }
*.wr-bg24.wr-bg-mdc-board       {   background-image: url("img/mimideepcolour/024x024/billboard.png");  }
*.wr-bg24.wr-bg-mdc-bag         {   background-image: url("img/mimideepcolour/024x024/bag.png");        }
*.wr-bg24.wr-bg-mdc-pools       {   background-image: url("img/mimideepcolour/024x024/pools.png");      }
*.wr-bg24.wr-bg-mdc-user        {   background-image: url("img/mimideepcolour/024x024/user.png");       }
/* pfuispinnesflurry */
*.wr-bg24.wr-bg-ppf-steam       {   background-image: url("img/pfuispinnesflurry/512x512/Steam.png");   }
*.wr-bg32.wr-bg-ppf-steam       {   background-image: url("img/pfuispinnesflurry/512x512/Steam.png");   }
/* social */
*.wr-bg48.wr-bg-scl-facebook    {   background-image: url("img/social/048x048/icontexto-inside-facebook.png");   }
*.wr-bg48.wr-bg-scl-twitter     {   background-image: url("img/social/048x048/icontexto-inside-twitter.png");    }
*.wr-bg48.wr-bg-scl-youtube     {   background-image: url("img/social/048x048/icontexto-inside-youtube.png");    }

@keyframes balance {
    0%  {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    33%  {
        -webkit-transform: rotate(1deg);
           -moz-transform: rotate(1deg);
            -ms-transform: rotate(1deg);
             -o-transform: rotate(1deg);
                transform: rotate(1deg);
    }
    66% {
        -webkit-transform: rotate(-1deg);
           -moz-transform: rotate(-1deg);
            -ms-transform: rotate(-1deg);
             -o-transform: rotate(-1deg);
                transform: rotate(-1deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
*.wr-anim-balance,
*.wr-anim-hover-balance:hover,
*:hover>*.wr-anim-parent-hover-balance
{
    animation-name: balance;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rightdisappear{
    100%{
        opacity: 0; 
        visibility: hidden;
        -webkit-transform: translateX(90%);
           -moz-transform: translateX(90%);
            -ms-transform: translateX(90%);
             -o-transform: translateX(90%);
                transform: translateX(90%);
    }
}
*.wr-anim-rightdisappear,
*.wr-anim-hover-rightdisappear:hover,
*:hover>*.wr-anim-parent-hover-rightdisappear
{
    animation-name: rightdisappear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

*.wr-anim-bgcolorlinear,
*.wr-anim-bgcolorlinear:hover,
*:hover>*.wr-anim-parent-hover-bgcolorlinear
{
    -webkit-transition: background-color 1000ms linear;
       -moz-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
         -o-transition: background-color 1000ms linear;
            transition: background-color 1000ms linear;
}

*.wr-reverse-color
{
    -webkit-filter: invert(100%);
       -moz-filter: invert(100%);
        -ms-filter: invert(100%);
         -o-filter: invert(100%);
            filter: invert(100%);
}


*.wr-untoggle{}
*.wr-untoggle>input{position: absolute; top: -9999px; left: -9999px;}
*.wr-untoggle>input:checked,*.wr-untoggle>input:checked~*{display: none!important;}

*.wr-untoggle>*{padding: 0 5px;}
*.wr-untoggle>*:last-child{padding-bottom: 20px;}
*.wr-untoggle>label{line-height: 20px; padding: 2px 5px; }

*.wr-info{      background-color: #AB99E1;  }
*.wr-success{   background-color: #05fb2e;  }
*.wr-warning{   background-color: #fbae1d;  }
*.wr-danger{    background-color: #fb1d1d;  }

*.wr-info *     {   color: #000!important; font-weight: bold; }
*.wr-success *  {   color: #000!important; font-weight: bold;  }
*.wr-warning *  {   color: #000!important; font-weight: bold;   }
*.wr-danger *   {   color: #FFF!important; font-weight: bold; }
