*,*::-moz-focus-inner{
    background: transparent;
    border:     0;
    display:    block;
    margin:     0;
    outline:    0;
    padding:    0;
    text-decoration: none;
}

title       {   display: none;                  }
html,body   {   margin: 0 auto;width: 100%;     }
table       {   display: table;                 }
caption     {   display: table-caption;         }
colgroup    {   display: table-column-group;    }
thead       {   display: table-header-group;    }
tfoot       {   display: table-footer-group;    }
tbody       {   display: table-row-group;       }
col         {   display: table-column;          }
tr          {   display: table-row;             }
td          {   display: table-cell;            }

*.wr-txt-center {   text-align: center; }
*.wr-txt-left   {   text-align: left;   }
*.wr-txt-right  {   text-align: right;  }
*.wr-blk-center {   margin: 0 auto;     }

br.wr-break5    {   margin: 2.5px 0;   }
br.wr-break10   {   margin: 5px 0;  }
br.wr-break15   {   margin: 7.5px 0;  }
br.wr-break20   {   margin: 10px 0;  }

*.wr-button-roll:hover~*{   display: block; }
*.wr-button-roll *      {   height: 100%;width: 100%;display: inline-block;     }
*.wr-button-roll *>hr   {   display: block;margin: 0 auto;width: 85%;           }
*.wr-button-roll *>hr:first-of-type:nth-last-child(1),*.wr-button-roll *>hr:first-of-type:nth-last-child(1) ~ hr {   height: 100%;              }
*.wr-button-roll *>hr:first-of-type:nth-last-child(3),*.wr-button-roll *>hr:first-of-type:nth-last-child(3) ~ hr {   height: calc(100% / 3);    }
*.wr-button-roll *>hr:first-of-type:nth-last-child(5),*.wr-button-roll *>hr:first-of-type:nth-last-child(5) ~ hr {   height: 20%;               }
*.wr-button-roll *>hr:first-of-type:nth-last-child(7),*.wr-button-roll *>hr:first-of-type:nth-last-child(7) ~ hr {   height: calc(100% / 7);    }
*.wr-button-roll *>hr:first-of-type:nth-last-child(9),*.wr-button-roll *>hr:first-of-type:nth-last-child(9) ~ hr {   height: 11.11%;            }

*.wr-inline>*   { display: inline-block;vertical-align: top;    }
*.wr-inline>*:first-child:nth-last-child(1),    *.wr-inline>*:first-child:nth-last-child(1) ~ * {   width: 100%;              }
*.wr-inline>*:first-child:nth-last-child(2),    *.wr-inline>*:first-child:nth-last-child(2) ~ * {   width: 50%;               }
*.wr-inline>*:first-child:nth-last-child(3),    *.wr-inline>*:first-child:nth-last-child(3) ~ * {   width: calc(100% / 3);    }
*.wr-inline>*:first-child:nth-last-child(4),    *.wr-inline>*:first-child:nth-last-child(4) ~ * {   width: 25%;               }
*.wr-inline>*:first-child:nth-last-child(5),    *.wr-inline>*:first-child:nth-last-child(5) ~ * {   width: 20%;               }
*.wr-inline>*:first-child:nth-last-child(6),    *.wr-inline>*:first-child:nth-last-child(6) ~ * {   width: calc(100% / 6);    }
*.wr-inline>*:first-child:nth-last-child(7),    *.wr-inline>*:first-child:nth-last-child(7) ~ * {   width: calc(100% / 7);    }
*.wr-inline>*:first-child:nth-last-child(8),    *.wr-inline>*:first-child:nth-last-child(8) ~ * {   width: 12.5%;             }
*.wr-inline>*:first-child:nth-last-child(9),    *.wr-inline>*:first-child:nth-last-child(9) ~ * {   width: calc(100% / 9);    }
*.wr-inline>*:first-child:nth-last-child(10),   *.wr-inline>*:first-child:nth-last-child(10)~ * {   width: 10%;               }

*.wr-fill>*            {   display: inline-block;vertical-align: top;  }
*.wr-fill>.wr-width100 {   width: 100%;    }
*.wr-fill>.wr-width90  {   width: 90%;     }
*.wr-fill>.wr-width80  {   width: 80%;     }
*.wr-fill>.wr-width70  {   width: 70%;     }
*.wr-fill>.wr-width60  {   width: 60%;     }
*.wr-fill>.wr-width40  {   width: 40%;     }
*.wr-fill>.wr-width30  {   width: 30%;     }
*.wr-fill>.wr-width50  {   width: 50%;     }
*.wr-fill>.wr-width33  {   width: calc(100% / 3); }
*.wr-fill>.wr-width25  {   width: 25%;     }
*.wr-fill>.wr-width20  {   width: 20%;     }
*.wr-fill>.wr-width16  {   width: calc(100% / 6); }
*.wr-fill>.wr-width14  {   width: calc(100% / 7); }
*.wr-fill>.wr-width12  {   width: 12.5%;   }
*.wr-fill>.wr-width11  {   width: calc(100% / 9); }
*.wr-fill>.wr-width10  {   width: 10%;     }
*.wr-fill>.wr-width9   {   width: 9%;      }
*.wr-fill>.wr-width8   {   width: 8%;      }
*.wr-fill>.wr-width7   {   width: 7%;      }
*.wr-fill>.wr-width6   {   width: 6%;      }
*.wr-fill>.wr-width5   {   width: 5%;      }
*.wr-fill>.wr-width4   {   width: 4%;      }
*.wr-fill>.wr-width3   {   width: 3%;      }
*.wr-fill>.wr-width2   {   width: 2%;      }
*.wr-fill>.wr-width1   {   width: 1%;      }

@media (min-width: 1024px)
{

    *.wr-only-less      {   display: none;  }
    *.wr-only-less:hover{   display: block; }
    span.wr-bg-less     {   display: none;  }

    *.wr-txt-center-more {   text-align: center; }
    *.wr-txt-left-more   {   text-align: left;   }
    *.wr-txt-right-more  {   text-align: right;  }

    *.wr-inline-more>*   { display: inline-block;vertical-align: top;    }
    *.wr-inline-more>*:first-child:nth-last-child(1),    *.wr-inline-more>*:first-child:nth-last-child(1) ~ * {   width: 100%;              }
    *.wr-inline-more>*:first-child:nth-last-child(2),    *.wr-inline-more>*:first-child:nth-last-child(2) ~ * {   width: 50%;               }
    *.wr-inline-more>*:first-child:nth-last-child(3),    *.wr-inline-more>*:first-child:nth-last-child(3) ~ * {   width: calc(100% / 3);    }
    *.wr-inline-more>*:first-child:nth-last-child(4),    *.wr-inline-more>*:first-child:nth-last-child(4) ~ * {   width: 25%;               }
    *.wr-inline-more>*:first-child:nth-last-child(5),    *.wr-inline-more>*:first-child:nth-last-child(5) ~ * {   width: 20%;               }
    *.wr-inline-more>*:first-child:nth-last-child(6),    *.wr-inline-more>*:first-child:nth-last-child(6) ~ * {   width: calc(100% / 6);    }
    *.wr-inline-more>*:first-child:nth-last-child(7),    *.wr-inline-more>*:first-child:nth-last-child(7) ~ * {   width: calc(100% / 7);    }
    *.wr-inline-more>*:first-child:nth-last-child(8),    *.wr-inline-more>*:first-child:nth-last-child(8) ~ * {   width: 12.5%;             }
    *.wr-inline-more>*:first-child:nth-last-child(9),    *.wr-inline-more>*:first-child:nth-last-child(9) ~ * {   width: calc(100% / 9);    }
    *.wr-inline-more>*:first-child:nth-last-child(10),   *.wr-inline-more>*:first-child:nth-last-child(10)~ * {   width: 10%;               }

    *.wr-fill-more>*            {   display: inline-block;vertical-align: top;  }
    *.wr-fill-more>.wr-width100 {   width: 100%;    }
    *.wr-fill-more>.wr-width90  {   width: 90%;     }
    *.wr-fill-more>.wr-width80  {   width: 80%;     }
    *.wr-fill-more>.wr-width70  {   width: 70%;     }
    *.wr-fill-more>.wr-width60  {   width: 60%;     }
    *.wr-fill-more>.wr-width40  {   width: 40%;     }
    *.wr-fill-more>.wr-width30  {   width: 30%;     }
    *.wr-fill-more>.wr-width50  {   width: 50%;     }
    *.wr-fill-more>.wr-width33  {   width: calc(100% / 3); }
    *.wr-fill-more>.wr-width25  {   width: 25%;     }
    *.wr-fill-more>.wr-width20  {   width: 20%;     }
    *.wr-fill-more>.wr-width16  {   width: calc(100% / 6); }
    *.wr-fill-more>.wr-width14  {   width: calc(100% / 7); }
    *.wr-fill-more>.wr-width12  {   width: 12.5%;   }
    *.wr-fill-more>.wr-width11  {   width: calc(100% / 9); }
    *.wr-fill-more>.wr-width10  {   width: 10%;     }
    *.wr-fill-more>.wr-width9   {   width: 9%;      }
    *.wr-fill-more>.wr-width8   {   width: 8%;      }
    *.wr-fill-more>.wr-width7   {   width: 7%;      }
    *.wr-fill-more>.wr-width6   {   width: 6%;      }
    *.wr-fill-more>.wr-width5   {   width: 5%;      }
    *.wr-fill-more>.wr-width4   {   width: 4%;      }
    *.wr-fill-more>.wr-width3   {   width: 3%;      }
    *.wr-fill-more>.wr-width2   {   width: 2%;      }
    *.wr-fill-more>.wr-width1   {   width: 1%;      }

}

@media (max-width: 1024px)
{
    *.wr-only-more      {   display: none;  }
    *.wr-only-more:hover{   display: block; }
    span.wr-bg-more     {   display: none;  }

    *.wr-txt-center-less {   text-align: center; }
    *.wr-txt-left-less   {   text-align: left;   }
    *.wr-txt-right-less  {   text-align: right;  }

    *.wr-inline-less>*   { display: inline-block;vertical-align: top;    }
    *.wr-inline-less>*:first-child:nth-last-child(1),    *.wr-inline-less>*:first-child:nth-last-child(1) ~ * {   width: 100%;              }
    *.wr-inline-less>*:first-child:nth-last-child(2),    *.wr-inline-less>*:first-child:nth-last-child(2) ~ * {   width: 50%;               }
    *.wr-inline-less>*:first-child:nth-last-child(3),    *.wr-inline-less>*:first-child:nth-last-child(3) ~ * {   width: calc(100% / 3);    }
    *.wr-inline-less>*:first-child:nth-last-child(4),    *.wr-inline-less>*:first-child:nth-last-child(4) ~ * {   width: 25%;               }
    *.wr-inline-less>*:first-child:nth-last-child(5),    *.wr-inline-less>*:first-child:nth-last-child(5) ~ * {   width: 20%;               }
    *.wr-inline-less>*:first-child:nth-last-child(6),    *.wr-inline-less>*:first-child:nth-last-child(6) ~ * {   width: calc(100% / 6);    }
    *.wr-inline-less>*:first-child:nth-last-child(7),    *.wr-inline-less>*:first-child:nth-last-child(7) ~ * {   width: calc(100% / 7);    }
    *.wr-inline-less>*:first-child:nth-last-child(8),    *.wr-inline-less>*:first-child:nth-last-child(8) ~ * {   width: 12.5%;             }
    *.wr-inline-less>*:first-child:nth-last-child(9),    *.wr-inline-less>*:first-child:nth-last-child(9) ~ * {   width: calc(100% / 9);    }
    *.wr-inline-less>*:first-child:nth-last-child(10),   *.wr-inline-less>*:first-child:nth-last-child(10)~ * {   width: 10%;               }

    *.wr-fill-less>*            {   display: inline-block;vertical-align: top;  }
    *.wr-fill-less>.wr-width100 {   width: 100%;    }
    *.wr-fill-less>.wr-width90  {   width: 90%;     }
    *.wr-fill-less>.wr-width80  {   width: 80%;     }
    *.wr-fill-less>.wr-width70  {   width: 70%;     }
    *.wr-fill-less>.wr-width60  {   width: 60%;     }
    *.wr-fill-less>.wr-width40  {   width: 40%;     }
    *.wr-fill-less>.wr-width30  {   width: 30%;     }
    *.wr-fill-less>.wr-width50  {   width: 50%;     }
    *.wr-fill-less>.wr-width33  {   width: calc(100% / 3); }
    *.wr-fill-less>.wr-width25  {   width: 25%;     }
    *.wr-fill-less>.wr-width20  {   width: 20%;     }
    *.wr-fill-less>.wr-width16  {   width: calc(100% / 6); }
    *.wr-fill-less>.wr-width14  {   width: calc(100% / 7); }
    *.wr-fill-less>.wr-width12  {   width: 12.5%;   }
    *.wr-fill-less>.wr-width11  {   width: calc(100% / 9); }
    *.wr-fill-less>.wr-width10  {   width: 10%;     }
    *.wr-fill-less>.wr-width9   {   width: 9%;      }
    *.wr-fill-less>.wr-width8   {   width: 8%;      }
    *.wr-fill-less>.wr-width7   {   width: 7%;      }
    *.wr-fill-less>.wr-width6   {   width: 6%;      }
    *.wr-fill-less>.wr-width5   {   width: 5%;      }
    *.wr-fill-less>.wr-width4   {   width: 4%;      }
    *.wr-fill-less>.wr-width3   {   width: 3%;      }
    *.wr-fill-less>.wr-width2   {   width: 2%;      }
    *.wr-fill-less>.wr-width1   {   width: 1%;      }
}

/* Background */
body *                                       {   color: black;               }
body                                         {   background-color: white;    }
body a:hover,body nav                        {   background-color: rgba(0, 0, 0, 0.1);   }
body *.wr-button-roll                        {   background-color: rgba(0, 0, 0, 0.2);   }
body *.wr-button-roll:hover                  {   background-color: rgba(0, 0, 0, 0.3);   }
body *.wr-button-roll *>hr                   {   background-color: rgba(0, 0, 0, 0.5);   }
body *.wr-button-roll *>hr:nth-child(2n+1)   {   background-color: transparent;          }

/* Darkness */
body.darkness *                                      {   color: white;                   }
body.darkness                                        {   background-color: black;        }
body.darkness a:hover,body.darkness nav              {   background-color: rgba(255, 255, 255, 0.1);     }
body.darkness *.wr-button-roll                       {   background-color: rgba(255, 255, 255, 0.2);     }
body.darkness *.wr-button-roll:hover                 {   background-color: rgba(255, 255, 255, 0.3);     }
body.darkness *.wr-button-roll *>hr                  {   background-color: rgba(255, 255, 255, 0.5);     }
body.darkness *.wr-button-roll *>hr:nth-child(2n+1)  {   background-color: transparent;                  }

/* Override Test */
body section>h1         {   background-color: rgba(0, 0, 0, 0.1);   }
body>footer     {   background-color: rgba(0, 0, 0, 0.1);   }

body.darkness section>h1        {   background-color: rgba(255, 255, 255, 0.1); }
body.darkness>footer    {   background-color: rgba(255, 255, 255, 0.1); }

*[class^='wr-bg']{
    background-position: center center;
    background-repeat: no-repeat;
}
span[class^='wr-bg']{
    display: inline-block;
    vertical-align: middle;
}

*.wr-bg-leftcenter      {   background-position: left center;                       }
*.wr-bg-left5center     {   background-position: 5px center;                        }
span.wr-bg-leftcenter   {   background-position: center center; padding: 0 0;       }
span.wr-bg-left5center  {   background-position: center -center; padding: 0 5px;    }

*.wr-bg24       {   background-size: 24px;      }
*.wr-bg32       {   background-size: 32px;      }
*.wr-bg48       {   background-size: 48px;      }
span.wr-bg24    {   height: 24px;width: 24px;   }
span.wr-bg32    {   height: 32px;width: 32px;   }
span.wr-bg48    {   height: 48px;width: 48px;   }

/* mimideepcolour */
*.wr-bg24.wr-bg-mdc-home        {   background-image: url("img/mimideepcolour/024x024/home.png");       }
*.wr-bg24.wr-bg-mdc-flag        {   background-image: url("img/mimideepcolour/024x024/flag.png");       }
*.wr-bg24.wr-bg-mdc-board       {   background-image: url("img/mimideepcolour/024x024/billboard.png");  }
*.wr-bg24.wr-bg-mdc-bag         {   background-image: url("img/mimideepcolour/024x024/bag.png");        }
*.wr-bg24.wr-bg-mdc-pools       {   background-image: url("img/mimideepcolour/024x024/pools.png");      }
*.wr-bg24.wr-bg-mdc-user        {   background-image: url("img/mimideepcolour/024x024/user.png");       }
/* pfuispinnesflurry */
*.wr-bg24.wr-bg-ppf-steam       {   background-image: url("img/pfuispinnesflurry/512x512/Steam.png");   }
*.wr-bg32.wr-bg-ppf-steam       {   background-image: url("img/pfuispinnesflurry/512x512/Steam.png");   }
/* social */
*.wr-bg48.wr-bg-scl-facebook    {   background-image: url("img/social/048x048/icontexto-inside-facebook.png");   }
*.wr-bg48.wr-bg-scl-twitter     {   background-image: url("img/social/048x048/icontexto-inside-twitter.png");    }
*.wr-bg48.wr-bg-scl-youtube     {   background-image: url("img/social/048x048/icontexto-inside-youtube.png");    }

@keyframes balance {
    0%  {transform: rotate(0deg);}
    33%  {transform: rotate(1deg);}
    66% {transform: rotate(-1deg);}
    100% {transform: rotate(0deg);}
}

@keyframes rightdisappear{
  100%{
    transform: translateX(90%);
    opacity: 0; visibility: hidden;
  }
}