*.wr-inline *   { display: inline-block;  }
*.wr-inline>nav:first-of-type:nth-last-child(1),    *.wr-inline>nav:first-of-type:nth-last-child(1) ~ nav {   width: 100%;     }
*.wr-inline>nav:first-of-type:nth-last-child(2),    *.wr-inline>nav:first-of-type:nth-last-child(2) ~ nav {   width: 50%;     }
*.wr-inline>*:first-of-type:nth-last-child(3),    *.wr-inline>*:first-of-type:nth-last-child(3) ~ nav {   width: 33.33%;  }
*.wr-inline nav:first-of-type:nth-last-child(4),    *.wr-inline nav:first-of-type:nth-last-child(4) ~ * {   width: 25%;     }
*.wr-inline nav:first-of-type:nth-last-child(5),    *.wr-inline nav:first-of-type:nth-last-child(5) ~ * {   width: 20%;     }
*.wr-inline nav:first-of-type:nth-last-child(6),    *.wr-inline nav:first-of-type:nth-last-child(6) ~ * {   width: 16.66%;  }
*.wr-inline nav:first-of-type:nth-last-child(7),    *.wr-inline nav:first-of-type:nth-last-child(7) ~ * {   width: 14.28%;  }
*.wr-inline nav:first-of-type:nth-last-child(8),    *.wr-inline *:first-of-type:nth-last-child(8) ~ * {   width: 12.5%;   }
*.wr-inline nav:first-of-type:nth-last-child(9),    *.wr-inline *:first-of-type:nth-last-child(9) ~ * {   width: 11.11%;  }
*.wr-inline nav:first-of-type:nth-last-child(10),   *.wr-inline *:first-of-type:nth-last-child(10) ~ *{   width: 10%;     }


*.wr-txt-center {   text-align: center; }
*.wr-txt-left   {   text-align: left;   }
*.wr-txt-right  {   text-align: right;  }