@keyframes balance {
    0%  {transform: rotate(0deg);}
    33%  {transform: rotate(1deg);}
    66% {transform: rotate(-1deg);}
    100% {transform: rotate(0deg);}
}

@keyframes rightdisappear{
  100%{
    transform: translateX(90%);
    opacity: 0; visibility: hidden;
  }
}