*[class^='wr-bg']{
    background-position: center center;
    background-repeat: no-repeat;
}
span[class^='wr-bg']{
    display: inline-block;
    vertical-align: middle;
}

*.wr-bg-leftcenter      {   background-position: left center;                       }
*.wr-bg-left5center     {   background-position: 5px center;                        }
span.wr-bg-leftcenter   {   background-position: center center; padding: 0 0;       }
span.wr-bg-left5center  {   background-position: center -center; padding: 0 5px;    }

*.wr-bg24       {   background-size: 24px;      }
*.wr-bg32       {   background-size: 32px;      }
*.wr-bg48       {   background-size: 48px;      }
span.wr-bg24    {   height: 24px;width: 24px;   }
span.wr-bg32    {   height: 32px;width: 32px;   }
span.wr-bg48    {   height: 48px;width: 48px;   }

/* mimideepcolour */
*.wr-bg24.wr-bg-mdc-home        {   background-image: url("img/mimideepcolour/024x024/home.png");       }
*.wr-bg24.wr-bg-mdc-flag        {   background-image: url("img/mimideepcolour/024x024/flag.png");       }
*.wr-bg24.wr-bg-mdc-board       {   background-image: url("img/mimideepcolour/024x024/billboard.png");  }
*.wr-bg24.wr-bg-mdc-bag         {   background-image: url("img/mimideepcolour/024x024/bag.png");        }
*.wr-bg24.wr-bg-mdc-pools       {   background-image: url("img/mimideepcolour/024x024/pools.png");      }
*.wr-bg24.wr-bg-mdc-user        {   background-image: url("img/mimideepcolour/024x024/user.png");       }
/* pfuispinnesflurry */
*.wr-bg24.wr-bg-ppf-steam       {   background-image: url("img/pfuispinnesflurry/512x512/Steam.png");   }
*.wr-bg32.wr-bg-ppf-steam       {   background-image: url("img/pfuispinnesflurry/512x512/Steam.png");   }
/* social */
*.wr-bg48.wr-bg-scl-facebook    {   background-image: url("img/social/048x048/icontexto-inside-facebook.png");   }
*.wr-bg48.wr-bg-scl-twitter     {   background-image: url("img/social/048x048/icontexto-inside-twitter.png");    }
*.wr-bg48.wr-bg-scl-youtube     {   background-image: url("img/social/048x048/icontexto-inside-youtube.png");    }
