*.wr-only-less      {   display: none;  }
*.wr-only-less:hover{   display: block; }
span.wr-bg-less     {   display: none;  }

*.wr-txt-center-more {   text-align: center; }
*.wr-txt-left-more   {   text-align: left;   }
*.wr-txt-right-more  {   text-align: right;  }

*.wr-inline-more>*   { display: inline-block;vertical-align: top;    }
*.wr-inline-more>*:first-child:nth-last-child(1),    *.wr-inline-more>*:first-child:nth-last-child(1) ~ * {   width: 100%;              }
*.wr-inline-more>*:first-child:nth-last-child(2),    *.wr-inline-more>*:first-child:nth-last-child(2) ~ * {   width: 50%;               }
*.wr-inline-more>*:first-child:nth-last-child(3),    *.wr-inline-more>*:first-child:nth-last-child(3) ~ * {   width: calc(100% / 3);    }
*.wr-inline-more>*:first-child:nth-last-child(4),    *.wr-inline-more>*:first-child:nth-last-child(4) ~ * {   width: 25%;               }
*.wr-inline-more>*:first-child:nth-last-child(5),    *.wr-inline-more>*:first-child:nth-last-child(5) ~ * {   width: 20%;               }
*.wr-inline-more>*:first-child:nth-last-child(6),    *.wr-inline-more>*:first-child:nth-last-child(6) ~ * {   width: calc(100% / 6);    }
*.wr-inline-more>*:first-child:nth-last-child(7),    *.wr-inline-more>*:first-child:nth-last-child(7) ~ * {   width: calc(100% / 7);    }
*.wr-inline-more>*:first-child:nth-last-child(8),    *.wr-inline-more>*:first-child:nth-last-child(8) ~ * {   width: 12.5%;             }
*.wr-inline-more>*:first-child:nth-last-child(9),    *.wr-inline-more>*:first-child:nth-last-child(9) ~ * {   width: calc(100% / 9);    }
*.wr-inline-more>*:first-child:nth-last-child(10),   *.wr-inline-more>*:first-child:nth-last-child(10)~ * {   width: 10%;               }

*.wr-fill-more>*            {   display: inline-block;vertical-align: top;  }
*.wr-fill-more>.wr-width100 {   width: 100%;    }
*.wr-fill-more>.wr-width90  {   width: 90%;     }
*.wr-fill-more>.wr-width80  {   width: 80%;     }
*.wr-fill-more>.wr-width70  {   width: 70%;     }
*.wr-fill-more>.wr-width60  {   width: 60%;     }
*.wr-fill-more>.wr-width40  {   width: 40%;     }
*.wr-fill-more>.wr-width30  {   width: 30%;     }
*.wr-fill-more>.wr-width50  {   width: 50%;     }
*.wr-fill-more>.wr-width33  {   width: calc(100% / 3); }
*.wr-fill-more>.wr-width25  {   width: 25%;     }
*.wr-fill-more>.wr-width20  {   width: 20%;     }
*.wr-fill-more>.wr-width16  {   width: calc(100% / 6); }
*.wr-fill-more>.wr-width14  {   width: calc(100% / 7); }
*.wr-fill-more>.wr-width12  {   width: 12.5%;   }
*.wr-fill-more>.wr-width11  {   width: calc(100% / 9); }
*.wr-fill-more>.wr-width10  {   width: 10%;     }
*.wr-fill-more>.wr-width9   {   width: 9%;      }
*.wr-fill-more>.wr-width8   {   width: 8%;      }
*.wr-fill-more>.wr-width7   {   width: 7%;      }
*.wr-fill-more>.wr-width6   {   width: 6%;      }
*.wr-fill-more>.wr-width5   {   width: 5%;      }
*.wr-fill-more>.wr-width4   {   width: 4%;      }
*.wr-fill-more>.wr-width3   {   width: 3%;      }
*.wr-fill-more>.wr-width2   {   width: 2%;      }
*.wr-fill-more>.wr-width1   {   width: 1%;      }